<!DOCTYPE html>
<html lang='en' ng-app='booker'>
<head>
	<title>Toby Has Read Some Books</title>

	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>

    <script src="/scripts/app.js"></script>
    <script src="scripts/controllers/BookIndexController.js"></script>
    <script src="scripts/controllers/BookShowController.js"></script>


</head>
<body>
<h1>CRUD Book App</h1>
<h2>The Ugly Version</h2>

<div ng-view></div>


</body>
</html>